<%= form_for(@satelite) do |f| %>
  <% if @satelite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@satelite.errors.count, "error") %> prohibited this satelite from being saved:</h2>

      <ul>
      <% @satelite.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :show %><br />
    <%= f.check_box :show %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
