<h1>Listing satelites</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Show</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @satelites.each do |satelite| %>
  <tr>
    <td><%= satelite.name %></td>
    <td><%= satelite.show %></td>
    <td><%= link_to 'Show', satelite %></td>
    <td><%= link_to 'Edit', edit_satelite_path(satelite) %></td>
    <td><%= link_to 'Destroy', satelite, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Satelite', new_satelite_path %>
