<h1>Listing locals</h1>

<table>
  <tr>
    <th>Satelite</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<script type="text/javascript">
function initialize() {
	lat = null;
	lng = null;
	jQuery.getJSON("locals/last.json", function(data) {
			console.log(data)
			lat = data.latitude;
			lng = data.longitude;
	
	  var mapDiv = document.getElementById('map-canvas');
	  var map = new google.maps.Map(mapDiv, {
	    center: new google.maps.LatLng(lat, lng),
	    zoom: 12,
	    mapTypeId: google.maps.MapTypeId.ROADMAP
	  });

	  var content = '<strong>A info window!</strong><br/>lat:'+lat+' lng:'+lng;

	  var infowindow = new google.maps.InfoWindow({
	    content: content
	  });

	  var marker = new google.maps.Marker({
	    map: map,
	    position: map.getCenter(),
	    draggable: true
	  });

	  infowindow.open(map, marker);
	});
}
jQuery(document).ready(function() {
	initialize();
});
</script>

<div id="map-canvas" style="width: 500px; height: 400px; position: relative; background-color: rgb(229, 227, 223); overflow: hidden;"></div>

<% @locals.each do |local| %>
  <tr>
    <td><%= local.satelite_id %></td>
    <td><%= local.latitude %></td>
    <td><%= local.longitude %></td>
    <td><%= link_to 'Show', local %></td>
    <td><%= link_to 'Edit', edit_local_path(local) %></td>
    <td><%= link_to 'Destroy', local, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Local', new_local_path %>
