<h1>Listing locals</h1>

<table>
  <tr>
    <th>Satelite</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<script type="text/javascript">
  var map = null;
  var chart = null;

  var geocoderService = null;
  var elevationService = null;
  var directionsService = null;

  var mousemarker = null;
  var markers = [];
  var polyline = null;
  var elevations = null;

  var SAMPLES = 256;


  // Load the Visualization API and the piechart package.
  google.load("visualization", "1", {packages: ["columnchart"]});

  // Set a callback to run when the Google Visualization API is loaded.
  google.setOnLoadCallback(initialize);

  function initialize() {

    var myLatlng = new google.maps.LatLng(-14, -52);
    var myOptions = {
      zoom: 4,
      center: myLatlng,
      mapTypeId: google.maps.MapTypeId.TERRAIN
    }

    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
    chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));

    geocoderService = new google.maps.Geocoder();
    elevationService = new google.maps.ElevationService();
    directionsService = new google.maps.DirectionsService();

    google.maps.event.addListener(map, 'click', function(event) {
      addMarker(event.latLng, true);
    });

    google.visualization.events.addListener(chart, 'onmouseover', function(e) {
      if (mousemarker == null) {
        mousemarker = new google.maps.Marker({
          position: elevations[e.row].location,
          map: map,
          icon: "http://maps.google.com/mapfiles/ms/icons/green-dot.png"
        });
      } else {
        mousemarker.setPosition(elevations[e.row].location);
      }
    });

    loadLocals();
  }

  // Takes an array of ElevationResult objects, draws the path on the map
  // and plots the elevation profile on a GViz ColumnChart
  function plotElevation(results) {
    elevations = results;

    var path = [];
    for (var i = 0; i < results.length; i++) {
      path.push(elevations[i].location);
    }

    if (polyline) {
      polyline.setMap(null);
    }

    polyline = new google.maps.Polyline({
      path: path,
      strokeColor: "#000000",
      map: map});

    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Sample');
    data.addColumn('number', 'Elevation');
    for (var i = 0; i < results.length; i++) {
      data.addRow(['', elevations[i].elevation]);
    }

    document.getElementById('chart_div').style.display = 'block';
    chart.draw(data, {
      width: 512,
      height: 200,
      legend: 'none',
      titleY: 'Elevation (m)',
      focusBorderColor: '#00ff00'
    });
  }

  // Remove the green rollover marker when the mouse leaves the chart
  function clearMouseMarker() {
    if (mousemarker != null) {
      mousemarker.setMap(null);
      mousemarker = null;
    }
  }

  // Geocode an address and add a marker for the result
  function addAddress() {
    var address = document.getElementById('address').value;
    geocoderService.geocode({ 'address': address }, function(results, status) {
      document.getElementById('address').value = "";
      if (status == google.maps.GeocoderStatus.OK) {
        var latlng = results[0].geometry.location;
        addMarker(latlng, true);
        if (markers.length > 1) {
          var bounds = new google.maps.LatLngBounds();
          for (var i in markers) {
            bounds.extend(markers[i].getPosition());
          }
          map.fitBounds(bounds);
        } else {
          map.fitBounds(results[0].geometry.viewport);
        }
      } else if (status == google.maps.GeocoderStatus.ZERO_RESULTS) {
        alert("Address not found");
      } else {
        alert("Address lookup failed");
      }
    })
  }

  // Add a marker and trigger recalculation of the path and elevation
  function addMarker(latlng, doQuery) {

      var marker = new google.maps.Marker({
        position: latlng,
        map: map,
        draggable: true
      })

      google.maps.event.addListener(marker, 'dragend', function(e) {
        updateElevation();
      });

      markers.push(marker);

      if (doQuery) {
        updateElevation();
      }

  }

  // Trigger the elevation query for point to point
  // or submit a directions request for the path between points
  function updateElevation() {
    if (markers.length > 1) {
      var travelMode = document.getElementById("mode").value;
      if (travelMode != 'direct') {
        calcRoute(travelMode);
      } else {
        var latlngs = [];
        for (var i in markers) {
          latlngs.push(markers[i].getPosition())
        }
        elevationService.getElevationAlongPath({
          path: latlngs,
          samples: SAMPLES
        }, plotElevation);
      }
    }
  }

  // Submit a directions request for the path between points and an
  // elevation request for the path once returned
  function calcRoute(travelMode) {
    var origin = markers[0].getPosition();
    var destination = markers[markers.length - 1].getPosition();

    var waypoints = [];
    for (var i = 1; i < markers.length - 1; i++) {
      waypoints.push({
        location: markers[i].getPosition(),
        stopover: true
      });
    }

    var request = {
      origin: origin,
      destination: destination,
      waypoints: waypoints
    };

    switch (travelMode) {
      case "bicycling":
        request.travelMode = google.maps.DirectionsTravelMode.BICYCLING;
        break;
      case "driving":
        request.travelMode = google.maps.DirectionsTravelMode.DRIVING;
        break;
      case "walking":
        request.travelMode = google.maps.DirectionsTravelMode.WALKING;
        break;
    }

    directionsService.route(request, function(response, status) {
      if (status == google.maps.DirectionsStatus.OK) {
        elevationService.getElevationAlongPath({
          path: response.routes[0].overview_path,
          samples: SAMPLES
        }, plotElevation);
      } else if (status == google.maps.DirectionsStatus.ZERO_RESULTS) {
        alert("Could not find a route between these points");
      } else {
        alert("Directions request failed");
      }
    });
  }

  function loadLocals() {
    var data;

    jQuery.ajax({
			url: 'locals.json',   // PAGINA A SER CHAMADA
			dataType: 'json', // TIPO DE RETORNO
			type: 'GET',    // TIPO DE ENVIO POST OU GET
			async: false,   // REQUISIÇÃO SINCRONA OU ASSINCRONOA

			error: function() {
				// EXECUTA APENAS SE OCORRER ERRO NO ENVIO
				alert("Ocorreu algum erro ao enviar.");
			},

			success: function(json) {
				// EXECUTA CASO SEJA REALIZADA COM SUCESSO
				data=json
			},

			complete: function(ajaxResposta) {
				// EXECUTA SEMPRE AO FIM DA REQUISIÇÃO
				//alert("fim");
			}

		});

    reset();
    map.setMapTypeId(google.maps.MapTypeId.ROADMAP);
    document.getElementById('mode').value = 'driving';
    var bounds = new google.maps.LatLngBounds();
    for (var i = 0; i < data.length; i++) {
      var latlng = new google.maps.LatLng(
        data[i].local.latitude,
        data[i].local.longitude
      );
      addMarker(latlng, false);
      bounds.extend(latlng);
    }
    map.fitBounds(bounds);
    updateElevation();

  }


  // Clear all overlays, reset the array of points, and hide the chart
  function reset() {
    if (polyline) {
      polyline.setMap(null);
    }

    for (var i in markers) {
      markers[i].setMap(null);
    }

    markers = [];

    document.getElementById('chart_div').style.display = 'none';
  }


</script>

<div id="map_canvas" style="width: 500px; height: 400px; position: relative; background-color: rgb(229, 227, 223); overflow: hidden;"></div>
<div id="chart_div" style="width:512px; height:200px" onmouseout="clearMouseMarker()"></div>
<select id="mode" onchange="updateElevation()">

        <option value="direct">Direct</option>
        <option value="driving">Driving</option>
        <option value="bicycling">Bicycling</option>
        <option value="walking">Walking</option>
      </select>

<% @locals.each do |local| %>
  <tr>
    <td><%= local.satelite_id %></td>
    <td><%= local.latitude %></td>
    <td><%= local.longitude %></td>
    <td><%= link_to 'Show', local %></td>
    <td><%= link_to 'Edit', edit_local_path(local) %></td>
    <td><%= link_to 'Destroy', local, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Local', new_local_path %>

